@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Scheherazade+New:wght@400;500;600;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

@import "tailwindcss";

*{
  text-align: right;
  direction: rtl;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cairo: font-family: "Tajawal", sans-serif;
  --tajawal: font-family: "Tajawal", sans-serif;
  --scheherazade : font-family: "Scheherazade New", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-cairo: var(--cairo);
  --font-tajawal: var(--tajawal)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--tajawal)
}

p{
  font-family: var(--scheherazade);
}